body html{
    padding: 0;
    margin: 0;
}
.web_page{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 768px;
    background-color: white;
}
.web_page .page_nav{
    height: 48px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(241, 240, 240);
}
.right_nav{
    position: relative;
    top: -68px;
    left: 65%;
}
.main{
    height: 638px;
    margin: 20px;
    background-color: rgb(241, 240, 240);
    position: relative;
    border-radius: 50px;
    box-shadow: 1px 8px 30px gray;
    z-index: 0;
}
.wuwei{
    position: absolute;
    left: 55%;
    top:30px;
    width: 275px;
    height: 550px;
    z-index: 2;
}
.main .ui_1{
    position: absolute;
    top: 5%;
    left: 30px;
}
.main .txt_title{
    font-size: 24px;
    position: absolute;
    top: 10%;
    left: 130px;
}
.ui{
    width:100;
    height:100px;
}
.foot{
    height: 38px;
    border-top: 2px;
    border-top-style: solid;
    border-top-color: rgb(241, 240, 240);
}
.foot h1{
    opacity: .80;
    font-size: 16px;
    color: gray;
    margin: 0;
    position: relative;
    top: 10px;
    left: 50%;
}
.main_txt{
    position: relative;
    top: 130px;
    left: 140px;
    width: 700px;
    color: red;
    font-size: 60px;
    z-index: 1;
}
.page_nav h1{
    width: auto;
    position: relative;
    left: 30px;
}
.main_txt .txt_2{
    position: relative;
    left: 10px;
    top: 10px;
}